.card_detail {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
}

.card_detail img {
    width: 300px;
    padding: 0px;
}


.major_head {
    justify-content:flex-start;
    padding-top: 60px;
    height: auto;
    margin-bottom: 60px;
}

.detail_text {
    width: 300px;
    color: white;
    font-size: 20px;
    line-height: 38px;
    word-break: keep-all;
}

.detail_h2 {
    font-size: 32px;
    padding: 10px 0;
    line-height: 40px;
}

.detail_h3 {
    font-size: 16px;
    padding-bottom: 20px;
}

#list {
    padding-top: 0;
}

.card_all {
    width: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 5px;
}

.card_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_box_img {
    width: 80px;
    height: 138.39px;
}


header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 45px;
    font-size: 15px;
    color: white;
    border-bottom: 1px solid white;
    background-color: rgba(12, 0, 23, 0.8);
    transition: all .3s
}

.logo {
    margin-top: 15px;
    margin-left: 10px;
}

.list_hd {
    margin-top: -5px;
    margin-right: 20px;
    text-align: right;
}

.top_hd {
    margin-top: -35px;
    margin-right: 20px;
    text-align: right;
}

.main_text{
    padding-top: 0;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

h5 {
    font-size: 10px;
    padding: 30 0 10;
}

.loading {
    display: none;
}

.card_name {
    font-size: 14px;
}

.p5Canvas {
    display: none;
}

button {
    display: none;
}

.draw_bg{
    display: none;
}

.main_text_box {
    font-size: 20px;
    line-height: 38px;
    width: 300px;
}

.drag{
    font-size: 16px;
    padding-bottom: 14px;
}

.swiper-container {
    width: 90%;
}

.card_img {
    width: 280;
    height: 484.39px;
}

h3 {
    font-size: 20px;
}

.major_head svg{
    width: 300px;
    margin-top: 0;
}

.swiper-container{
    margin: 100px auto 100px auto;
}

footer {
    margin-top: 100px;
}